body
{
    background: rgb(211, 211, 211);

    font-family: 'Asana-Math', sans-serif;
}

div.body
{
    position: absolute;

    background: #ffffff;
}

div.body div.object
{
    max-height: 100%;
    max-width: 100%;

    cursor: pointer;
    outline: 3px solid transparent;

    transition: outline 0.25s ease-in-out;
}

div.body div.object:hover
{
    outline: 3px solid blueviolet;
}

div.properties
{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    width: 12.5%;

    background-color: #ffffff;
}

div.properties table
{
    width: 100%;
}

div.properties table input
{
    width: 80%;
}


div.objects
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 12.5%;

    background-color: #ffffff;
}



@font-face
{
    font-family: Asana-Math;
    src: url(fonts/Asana-Math.otf);
}