body
{
    background: #ffffff;

    font-family: KaTeX_Main, sans-serif;
    font-style: italic;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.body
{
    position: absolute;

    background: #ffffff;
}

div.body div.object
{
    max-height: 100%;
    max-width: 100%;

    cursor: default;
}