canvas.plots
{
    position: absolute;
    top:0;
    left:0;
}

div.object
{
    z-index: 1;
}

div.body
{
    transition: all 0.5s;
}

div.object
{
    transition-duration: 0.5s;
    transition-property: background, color;
}

div.object.chart *
{
    transition: all 0.5s;
}